[Unit]
Description=yttrans Service
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/opt/yttrans

ExecStart=/opt/yttrans/.venv/bin/python /opt/yttrans/main.py

Environment=PYTHONUNBUFFERED=1

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target